{% extends "layout.html" %}

{% block title %}
     How does it work
{% endblock %}

{% block main %}
    <h2>Using Straw Draw is easy!</h2> 
    <p>If you want to draw straws with your friends, family or colleagues to settle who needs to do something but are not around each other, Straw Draw offers an easy solution!</p>
    <p>By following a couple of easy steps, Straw Draw helps you decide who will need to head out.</p> 
    <p>
        <ol class="instruct">
            <li>Use Create Draw on this website, and fill out the form. If multiple people need to be selected, you can indicate that too.</li>
            <li>Once the form is filled in, you will be lead to a page where you can manage your draw, with a URL to share with those you want to participate in the draw. You will receive an email with this information as well.</li>
            <li>The participants, following the URL you share with them, will need to enter their details and will receive a confirmation email too.</li>
            <li>Once all participants are registered, you can trigger the Draw on your Manage Draw page. Straw Draw will then randomly choose the person/people assigned to your task!</li>
        </ol>
    </p>   
{% endblock %}
